body{
    color: gainsboro;
    background-color: black;
}
h3{
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-weight:normal;
font-size: xx-large;
 
}
.user{
    background-color: #282c34;
    width: auto;
    
}

.search-form{
    color: black;
    height: 40px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 10px;
    width: 130px;
    font-size: medium;
    outline-style: none;
}

.search-button{
height: 40px;
width: 100px;
border-radius: 1000px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.search-button:hover{
    background-color: bisque;
}
.name{
    color: aliceblue;
    font-family: Montserrat;
    padding: 2px;
    text-decoration: none;
}
.name:hover{
    background-color: beige;
    color: black;
    padding: 2px;
    border-radius: 4px;

}
.avatar{
    border-radius: 20px;
}
.results{
    text-align: center;
    width: auto; 
    background-color: #282c34;
    display:inline-block;
    border: 1px solid cadetblue;
    padding: 20px;
}
